aniso8601==9.0.1
Babel==2.9.1
certifi==2021.10.8
cffi==1.14.4
charset-normalizer==2.0.12
click==8.0.2
collection==0.1.6
config==0.5.1
cryptography==3.2.1
Flask==2.1.1
Flask-Babel==2.0.0
Flask-RESTful==0.3.9
Flask-Table==0.5.0
HTMLParser==0.0.2
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
json2table==1.1.5
logger==1.4
loguru==0.6.0
lxml==4.8.0
MarkupSafe==2.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.28
nltk==3.6.3
numpy==1.22.3
orderdict==2020.12.3
ordereddict==1.1
pandas==1.4.1
protobuf==3.19.4
pycparser==2.20
python-dateutil==2.8.2
pytz==2021.3
regex==2021.10.8
requests==2.27.1
runlike==1.4.0
six==1.15.0
tabulate==0.8.9
textblob==0.15.0
tqdm==4.62.3
urllib3==1.26.8
waitress==2.1.1
Werkzeug==2.1.1
zipp==3.8.0
