h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 12px;
}

h2 {
    border: 2px #eee solid;
    color: blue;
    text-align: center;
    padding: 10px;
}

table {
  border-collapse: collapse;
  width: 70%;
}
th {
    background-color: #04AA6D;
    color: white;
  }

td {
    text-align: center;
  }
